.beckground-img {
	width: 100%;
	height: 100%;
}

.beckground-div {
	position: relative;
}

.mario {
	position: absolute;
	width: 60px;
	top: 667px;
	left: 10px;
	animation: mario 5s infinite;
}

.enemy {
	position: absolute;
	width: 40px;
	top: 700px;
	left: 600px;
	animation: enemy 4s infinite alternate;
}

.enemy2 {
	position: absolute;
	width: 40px;
	top: 700px;
	left: 800px;
	animation: enemy2 4s infinite alternate;
}

.cloud {
	position: absolute;
	width: 150px;
	top: 100px;
	left: 20px;
	animation: cloud 8s 1;
}

.cloud2 {
	position: absolute;
	width: 170px;
	top: 150px;
	left: 600px;
	animation: cloud2 6s 1;
}

.cloud3 {
	position: absolute;
	width: 140px;
	top: 100px;
	left: 1200px;
	animation: cloud3 5s 1;
}

/*keyframe animations*/

@keyframes mario {
	0% {left: 1%; top: 667px;}
	25% {left: 25%; top: 667px;}
	50% {left: 50%; top: 500px;}
	60% {left: 65%; top: 667px;}
	75% {left: 80%; top: 667px;}
	100% {left: 95%; top: 667px;}
}

@keyframes enemy{
	from {left: 600px;}
	to {left: 700px;}
}

@keyframes enemy2 {
	from {left: 800px;}
	to {left: 900px;}
}

@keyframes cloud {
	from {left: 20px;}
	to {left: 1370px;}
}

@keyframes cloud2 {
	from {left: 600px;}
	to {left: 1360px;}
}

@keyframes cloud3 {
	from {left: 1200px;}
	to {left: 1370px;}
}